@font-face {
  font-family: "Flood Std";
  src: url("./fonts/floodstd.otf") format("opentype");
}
* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}
.title {
  grid-area: title;
  margin: 1rem 0 4rem 0;
  font-size: 1.5rem;
}
.nav-bar {
  grid-area: nav-bar;
}
.button {
  grid-area: button;
}
.header {
  display: flex;
  justify-content: space-between;
  margin: 10%;
  display: grid;
  grid-template-areas:
    "title nav-bar"
    "button button";
}
a {
  color: black;
}
.nav-bar a:link {
  font-size: 1.2rem;
  line-height: 1.8;
  text-decoration: none;
  color: black;
}

.action-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 3rem;
  background-color: #76f0c3;
  position: relative;
}

.button {
  border: none;
  border-radius: 2rem;
  position: relative;
  background-color: #99fad6;
  padding: 1rem;
  text-align: center;
  transition-duration: 0.5s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 600;
}
.button:after {
  content: "";
  background: #f1f1f1;
  display: block;
  /* position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px;
  margin-top: -120%; */
  opacity: 0;
  transition: all 0.8s;
}

.button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s;
}
.stories {
  margin: 1rem 0 0 0;
  height: auto;
  width: 100%;
}
.stories .text1 {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  margin: 5% 0;
  text-align: center;
  flex-direction: column;
  background-color: #354463;
}
.pad-1 {
  padding: 2.2rem 2.2rem 0 2.2rem;
}
.subscribe {
  margin: 0;
  background-color: rgb(194, 252, 194);
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 1.5rem 2rem 1.5rem 3rem;
  text-align: left;
}
.stop-container {
  background-position: 80%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}
.climate {
  background-image: url("./assets/home/annie-spratt-135307-unsplash.png");
  padding-bottom: 10%;
}
.italic-title {
  padding: 2rem;
  font-family: "Flood Std";
  font-size: 3.5rem;
  color: white;
  height: 2rem;
  width: 2rem;
}
.stop-container-card {
  margin: 3% 10%;
  background-color: white;
  position: relative;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tag {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  background-color: #354463;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: -7%;
}
.stop-container-card p {
  margin: 10% 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  line-height: 1.5;
  font-weight: 900;
  text-align: center;
}
.stop-container-card a:link {
  color: black;
  text-align: center;
  font-size: 1.2rem;
  line-height: 1.5;
  padding: 3%;
}
.action-content {
  display: flex;
  flex-wrap: wrap;
}
.action-content h {
  font-size: 1.5rem;
}
.action-content .actions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: bold;
  width: 50%;
  height: 20vh;
}
.action-content p {
  margin: 8% 10% 0 0;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: lighter;
}
.mission {
  height: 26%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(22, 22, 100);
  color: white;
  text-align: center;
}
.card-left {
  text-align: center;
  margin-top: 70%;
}

.button-1 {
  width: 7rem;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(22, 22, 100);
  background-color: white;
  padding: 1rem 2rem;
  margin: 2rem;
}
.mission p {
  font-size: 2rem;
  font-weight: 600;
  margin: 0 1rem 5rem 1rem;
}
.tag-img {
  height: 40%;
  width: 80%;
  background-size: cover;
  position: absolute;
  top: -10%;
  /* left: 15%; */
}
.one {
  background-image: url("./assets/home/tree-planting.png");
}
.two {
  background-image: url("./assets/home/education-training.png");
}
.three {
  background-image: url("./assets/home/advocacy.png");
}
.btn {
  align-self: center;
  margin: 3rem 0;
  width: 15rem;
}
.card-right {
  order: 1;
}
.change-card {
  height: 26%;
  margin: 3rem 2rem;
  background-color: white;
  position: relative;
  padding: 3rem 2rem 0 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.change-card h {
  margin: 12rem 0 0 0;
  color: black;
  font-size: 1.5rem;
  font-weight: 900;
  text-align: center;
}
.change-card p {
  margin: 2rem 0 0 0;
  color: black;
  font-size: 1.5rem;
  font-weight: 100;
  text-align: center;
}
.hunger-issue {
  background-image: url("./assets/home/did-you-know-background.png  ");
  background-size: cover;
  background-position: 80%;
  height: auto;
  padding-bottom: 10%;
}
.hunger {
  width: 75%;
  height: auto;
  margin-top: 8%;
}
.take-action {
  width: 16rem;
  margin: 0 0 20% 10%;
}
.hunger-article {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
}
.left {
  font-family: Arial, Helvetica, sans-serif;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-right: 4%;
}
.right {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.logo {
  height: 3rem;
  width: 3rem;
  border: none;
  background-color: lightgreen;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.take {
  /* height: 40%; */
  height: 20vh;
}
.hunger-article h2 {
  font-size: 2rem;
}
.hunger-article p2 {
  width: 5rem;
  line-height: 1.5;
}

.story-box {
  padding: 4rem 2rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.story-box .tag-stories {
  position: absolute;
  top: 3%;
  /* left: 25%; */
  padding: 1.2rem 4rem;
  color: white;
  background-color: #354463;
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
}
.story-img img {
  width: 100%;
  /* padding: 10%; */
}

.lady-baby img {
  width: 100%;
}
.text1 h {
  display: block;
  font-size: 2rem;
  font-weight: 900;
  width: 100%;
}
.text1 p {
  padding: 15% 0;
}
.center {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.future {
  height: auto;
  background-color: #354463;
}
.future .tag-2 {
  background-color: white;
  color: #354463;
}
.event {
  padding-top: 25%;
  width: auto;
  height: auto;
  /* padding: 2rem; */
  text-align: center;
}
/* height: 40%; */
.subscribe h {
  font-weight: 900;
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  color: #354463;
}
.mail-box {
  display: flex;
  justify-content: space-around;
  margin: 0;
}
.mail-box input {
  padding: 1rem;
  background-color: white;
  border-radius: 20rem;
  border: none;
}
.mail-box .subs-btn {
  background-color: #354463;
  color: rgb(194, 252, 194);
  font-weight: 900;
}

.item-1 {
  grid-area: item-1;
}
.item-2 {
  grid-area: item-2;
}
.item-3 {
  grid-area: item-3;
}
.item-4 {
  grid-area: item-4;
}
.item-5 {
  grid-area: item-5;
}

.footer {
  display: grid;
  grid-template-areas:
    "item-1 item-2"
    "item-3 item-4"
    "item-5 item-5";
  gap: 1rem;
  padding: 2rem;
}
.footer > div {
  text-align: center;
  padding: 2rem 1.2rem;
  /* font-size: 2rem; */
}
.footer .item-1 {
  text-align: left;
  font-size: 1.5rem;
}
.footer .item-2 {
  text-align: left;
  font-size: 1rem;
}
.footer .list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.list a:link {
  color: black;
  padding-left: 1rem;
  text-align: left;
  line-height: 1.5rem;
}
.list p {
  padding-left: 1rem;
}
.item-5 h1 {
  margin-left: 40%;
  padding: 1rem;
  font-family: "Flood Std";
  text-align: right;
  font-size: 3rem;
  color: black;
  height: 13rem;
  width: auto;
}

@media only screen and (min-width: 768px) {
  .header {
    display: flex;
    justify-content: space-between;
    margin: 2% 8%;
    padding-bottom: 2%;
    display: grid;
    grid-template-areas:
      "title title title title button"
      "nav-bar nav-bar nav-bar nav-bar button";
  }
  .header .nav-bar {
    display: flex;
    justify-content: space-between;
  }
  .button {
    margin-top: 20%;
    font-size: 90%;
  }
  .nav-bar a:link {
    font-size: 80%;
  }
  .title {
    margin: 1rem 0 2rem 0;
    font-size: 1.5rem;
  }
  .italic-title {
    height: auto;
    width: 35%;
    padding: 3rem;
    font-size: 2.1rem;
  }
  .tag {
    padding: 0.5rem 1rem;
    top: -5%;
    font-size: 0.8rem;
  }
  .stop-container {
    height: auto;
  }
  .stop-container-card {
    margin: 3% 6%;
    padding: 0 10%;
    align-items: flex-start;
  }
  .stop-container-card p {
    font-size: 1.9rem;
    line-height: 1.4;
    font-weight: 900;
    text-align: left;
    margin-bottom: 5%;
  }
  .stop-container-card a:link {
    font-size: 1rem;
    padding: 0 0 10% 0;
  }
  .action-container {
    padding: 1rem 3rem;
  }
  .action-content p {
    margin: 2% 10% 0 0;
    font-size: 0.8rem;
  }
  .action-content h {
    font-size: 1.1rem;
  }
  .mission {
    align-items: flex-start;
    text-align: left;
  }
  .button-1 {
    font-size: 0.8rem;
    padding: 0.5rem 0.6rem;
    text-align: center;
    margin: 2rem 0 2rem 1rem;
  }
  .mission-btn {
    order: 1;
    width: auto;
    padding: 5% 15%;
  }
  .change-card {
    display: flex;
    flex-direction: row-reverse;
    padding: 5%;
    justify-content: flex-end;
    align-items: flex-end;
  }
  .card-left {
    display: block;
    padding-left: 5%;
    text-align: left;
    margin-top: 0;
    width: 50%;
  }
  .card-right {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-content: flex-end;
    padding-right: 3%;
  }
  .one,
  .two,
  .three {
    position: absolute;
    left: 4%;
    width: 45%;
    height: 60%;
  }
  .change-card p {
    text-align: left;
    font-size: 0.8rem;
    line-height: 1.5;
  }
  .btn {
    margin-bottom: 10%;
  }
  .hunger-issue {
    display: flex;
    flex-direction: row;
  }
  .take-action {
    width: auto;
  }
  .hunger-btn {
    margin-top: 0;
  }
  .hunger {
    margin-top: 0;
  }
  .hunger-issue {
    padding: 5% 0;
  }
  .hunger-article {
    padding: 10% 0;
  }
  .hunger-card-right {
    width: 173%;
  }
  .hunger-article p2 {
    font-size: 0.9rem;
  }
  .text1 .pad-1 {
    position: relative;
    top: -7%;
  }
  .stories {
    position: relative;
  }
  .text1 {
    position: relative;
    top: -107px;
    left: 34px;
    width: 66%;
  }
  .lady-baby img {
    margin: 0 0 0 -4%;
    width: 80%;
    height: 50%;
  }
  .story-box .tag-stories {
    top: 0%;
  }
  .btn-1 {
    margin-top: -17%;
    position: relative;
    left: -20%;
  }
  .event {
    height: 20%;
    width: 60%;
  }
  .stories .italic-title {
    padding: 10% 0 0 6%;
    text-align: left;
  }
  .btn-2 {
    margin: 0;
  }
  .save-future {
    display: flex;
    flex-direction: row;
    /* align-items: center; */
  }
  .story-img {
    width: 50%;
  }
  .save-future-card-1 {
    width: 50%;
    height: auto;
    display: block;
  }

  .save-future-card-1 .text1 {
    top: 0;
    left: 0;
    width: auto;
    text-align: left;
    padding: 10% 10% 0 5%;
  }

  .story-box {
    padding: 2rem 0 0 0;
  }
  .story-img img {
    width: 70%;
    padding: 10%;
  }
  .story-box .tag-5 {
    padding: 2% 12%;
    font-size: 1rem;
    /* position: relative; */
    left: 106%;
    top: -3%;
  }
  .reverse {
    display: flex;
    flex-direction: row-reverse;
    margin-left: 5%;
  }
  .story-box .tag-6 {
    padding: 2% 12%;
    font-size: 1rem;
    /* position: relative; */
    left: -94%;
    top: -3%;
  }
  .btn4 {
    display: block;
    margin-bottom: 10%;
    /* margin-left: 5%; */
  }
  .mail-box input {
    padding: 1rem 5rem 1rem 1rem;
  }
  .subscribe {
    padding: 3rem;
  }
  .subscribe h {
    display: block;
    font-size: 1.5rem;
    width: 85%;
  }

  .footer {
    display: grid;
    grid-template-areas:
      "item-1 item-2 item-3"
      "item-1 item-4 item-5";
    gap: 1rem;
    padding: 2rem;
  }
  .footer > div {
    text-align: center;
    padding: 2rem 1.2rem;
    font-size: 2rem;
  }
  .item-5 h1 {
    margin-left: 0;
    font-family: "Flood Std";
    font-size: 2rem;
    color: black;
    height: auto;
    width: 50%;
  }
  .btn-1 {
    margin-top: -13%;
    position: relative;
    left: -16%;
  }
}

@media only screen and (min-width: 992px) {
  .header {
    display: flex;
    justify-content: space-between;
    margin: 2% 8%;
    padding-bottom: 2%;
    display: grid;
    grid-template-areas: "title nav-bar nav-bar nav-bar  nav-bar button";
  }
  .header .nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .stop-container {
    background-size: cover;
    flex-direction: row-reverse;
    height: 100vh;
  }
  .stop-container-card {
    padding: 0 5%;
    margin: 8%;
    width: 29%;
    height: 78%;
  }
  .italic-title {
    width: 15%;
    padding: 7rem 25rem 0 0;
    font-size: 3.5rem;
  }
  .stop-container-card p {
    width: 88%;
    font-size: 2.5rem;
    padding-right: 20%;
  }
  .action-container {
    padding: 5%;
  }
  .action-content .actions {
    width: 20%;
    padding: 0px 0 0 5%;
  }
  .mission {
    padding: 3rem 8rem;
  }
  /* .change-card{
  flex-direction: column;
}
.card-right{
  flex-direction: row-reverse;
} */

  .mission {
    height: 26%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(22, 22, 100);
    color: white;
    text-align: center;
  }
  .mission-content {
    display: flex;
    flex-direction: row;
  }
  .card-left {
    /* text-align: center; */
    margin-top: 0%;
  }

  .button-1 {
    width: 7rem;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(22, 22, 100);
    background-color: white;
    padding: 1rem 2rem;
    margin: 2rem;
  }
  .mission p {
    font-size: 2rem;
    font-weight: 600;
    margin: 0 1rem 5rem 1rem;
  }
  .tag-img {
    height: 40%;
    width: 80%;
    background-size: cover;
    position: absolute;
    top: -10%;
    /* left: 15%; */
  }
  .one {
    background-image: url("./assets/home/tree-planting.png");
  }
  .two {
    background-image: url("./assets/home/education-training.png");
  }
  .three {
    background-image: url("./assets/home/advocacy.png");
  }
  .btn {
    align-self: center;
    margin: 3rem 0;
    width: 15rem;
  }
  .card-right {
    order: 1;
  }
  .change-card {
    height: 26%;
    margin: 3rem 2rem;
    background-color: white;
    position: relative;
    padding: 11rem 2rem 0 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .change-card h {
    margin: 12rem 0 0 0;
    color: black;
    font-size: 1.5rem;
    font-weight: 900;
    text-align: left;
  }
  .change-card p {
    margin: 2rem 0 0 0;
    color: black;
    font-size: 1.5rem;
    font-weight: 100;
    text-align: center;
  }
  .mission-head {
    padding: 2% 7% 7% 7%;
  }
  .mission-head p {
    text-align: left;
    margin: 0rem 1rem 3rem 2rem;
    font-size: 2.5rem;
    line-height: 1.5;
  }
  .mission-content p {
    text-align: left;
    width: 173%;
  }
  .tag-img {
    height: 36%;
    width: 93%;
    top: -11%;
    left: 15%;
  }

  .story-box {
    flex-direction: column;
  }

  .hunger-card-right .stop-container-card {
    padding: 0px 4%;
    margin: 10%;
    width: 56%;
    height: 18%;
  }

  .hunger-issue {
    display: flex;
    flex-direction: row;
    height: auto;
  }
  .take-action {
    width: auto;
  }
  .hunger-btn {
    margin: 5% 20%;
  }
  .hunger {
    margin-top: 0;
    width: 50%;
    margin-left: 20%;
  }
  .hunger-issue {
    padding: 4% 0 10% 0;
  }
  .hunger-article {
    padding: 5% 4%;
  }
  .hunger-card-right {
    width: 173%;
  }
  .hunger-article p2 {
    font-size: 0.9rem;
  }
  .text1 .pad-1 {
    position: relative;
    top: -7%;
  }
  .stories {
    position: relative;
  }
  .text1 {
    position: relative;
    top: -153px;
    left: -290px;
    width: 34%;
  }
  .lady-baby img {
    /* margin: 7% 0 -24 33%; */
    width: 33%;
    /* height: 50%; */
  }
  .lady-baby img {
    margin: 8% 2% -23% 35%;
  }
  .story-box .tag-stories {
    top: 14%;
    left: 53%;
  }
  .btn-1 {
    margin-top: -59%;
    position: relative;
    left: -27%;
  }
  .event {
    height: 20%;
    width: 60%;
  }

  .stories .italic-title {
    width: 48%;
  }
  .subscribe {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .footer {
    display: grid;
    grid-template-areas: "item-1 item-2 item-3 item-4 item-5";
    gap: 1rem;
    padding: 2rem;
  }
  .footer > div {
    text-align: center;
    padding: 2rem 1.2rem;
    font-size: 2rem;
  }
  .item-5 h1 {
    margin-left: 0;
    font-family: "Flood Std";
    font-size: 2rem;
    color: black;
    height: auto;
    width: 50%;
  }
  .btn-1 {
    margin-top: -12%;
    position: relative;
    left: -27%;
  }
}
